@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');
@import "tailwindcss" prefix(ks);

@theme {
  --font-sans: "Instrument Sans", sans-serif;
  --font-mono: "Instrument Sans", sans-serif;

  --color-primary-50: var(--ks-color-stone-50);
  --color-primary-100: var(--ks-color-stone-100);
  --color-primary-200: var(--ks-color-stone-200);
  --color-primary-300: var(--ks-color-stone-300);
  --color-primary-400: var(--ks-color-stone-400);
  --color-primary-500: var(--ks-color-stone-500);
  --color-primary-600: var(--ks-color-stone-600);
  --color-primary-700: var(--ks-color-stone-700);
  --color-primary-800: var(--ks-color-stone-800);
  --color-primary-900: var(--ks-color-stone-900);
  --color-primary-950: var(--ks-color-stone-950);
}

@layer components {
  .ks\:hero-section {
    @apply ks:bg-primary-300 ks:sticky ks:z-0 ks:top-0 ks:pb-10;

    .ks\:hero-card-wrapper {
      @apply ks:w-sm ks:relative ks:z-0 ks:flex ks:flex-col ks:justify-center;

      .ks\:card-ribbon {
        @apply ks:mx-auto ks:h-40 ks:pointer-events-none ks:select-none ks:flex ks:items-center ks:justify-center;

        .ks\:card-ribbon-left {
          @apply ks:w-10 ks:-mr-4 ks:relative ks:-z-10 ks:origin-bottom-left ks:skew-x-20 ks:h-full  ks:bg-linear-to-t ks:from-primary-900 ks:from-5% ks:via-20% ks:via-primary-800 ks:to-100% ks:to-primary-800 ks:flex ks:items-center ks:justify-center;
        }

        .ks\:card-ribbon-right {
          @apply ks:w-10 ks:-ml-4 ks:relative ks:z-20 ks:origin-bottom-right ks:-skew-x-20 ks:h-full ks:bg-linear-to-t ks:from-primary-800 ks:from-5% ks:via-20% ks:via-primary-600 ks:to-100% ks:to-primary-700 ks:rounded-br-sm ks:overflow-clip ks:flex ks:items-center ks:justify-center;
          
          .ks\:card-ribbon-right-text {
            @apply ks:[writing-mode:sideways-lr] ks:text-white/40 ks:tracking-wider ks:text-nowrap ks:mix-blend-difference;
          }
        }
      }

      .ks\:hero-card {
        @apply ks:overflow-clip ks:shadow-2xl ks:shadow-black/10 ks:bg-primary-200 ks:ring ks:ring-zinc-400/15 ks:border ks:border-white/50 ks:rounded-4xl ks:p-4 ks:py-5;
      
        .ks\:hero-card-ribbon-hole {
          @apply ks:text-xs ks:bg-primary-300 ks:ring ks:ring-white/60 ks:w-15 ks:h-3 ks:rounded-full ks:block;

          .ks\:hero-card-ribbon-hole-inner {
            @apply ks:rounded-bl-sm ks:mx-auto ks:relative ks:z-10 ks:skew-x-12 ks:bg-linear-to-t ks:from-primary-800 ks:from-5% ks:via-20% ks:via-primary-700 ks:to-100% ks:to-primary-700 ks:block;
          }
        }

        .ks\:icon-btn {
          @apply ks:size-10 ks:flex ks:items-center ks:justify-center ks:bg-white/20 ks:backdrop-blur-2xl ks:ring ks:ring-zinc-400/15 ks:border ks:border-white/50 ks:rounded-full ks:hover:bg-primary-200;
        }
      }
    }

    .ks\:hero-section-noise {
      @apply ks:rounded-b-3xl ks:pointer-events-none ks:absolute ks:inset-0 ks:size-full ks:mix-blend-overlay;
    }
  }

  /* Project */
  .ks\:projects-section {
    @apply ks:-mt-40 ks:bg-primary-200 ks:relative ks:border-t ks:border-zinc-100 ks:shadow-[0_-0.5px_0_1px_var(--ks-color-zinc-300)];
  }

  /* Arc */
  .ks\:arc-wrapper {
    @apply ks:relative ks:z-0 ks:h-30 ks:overflow-clip;

    .ks\:arc-inner {
      @apply ks:absolute ks:bg-linear-to-t ks:from-black/5 ks:from-[-105%] ks:to-50% ks:bottom-5 ks:rounded-b-[500%] ks:left-0 ks:w-full ks:h-full ks:border-b ks:border-white/50;
      @apply ks:shadow-[0_0_0_200px_var(--ks-color-primary-200)];
    }
  }
}