@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');
@import "tailwindcss" prefix(ks);

@theme {
  --font-sans: "Instrument Sans", sans-serif;
  --font-mono: "Instrument Sans", sans-serif;

  --color-primary-50: var(--ks-color-zinc-50);
  --color-primary-100: var(--ks-color-zinc-100);
  --color-primary-200: var(--ks-color-zinc-200);
  --color-primary-300: var(--ks-color-zinc-300);
  --color-primary-400: var(--ks-color-zinc-400);
  --color-primary-500: var(--ks-color-zinc-500);
  --color-primary-600: var(--ks-color-zinc-600);
  --color-primary-700: var(--ks-color-zinc-700);
  --color-primary-800: var(--ks-color-zinc-800);
  --color-primary-900: var(--ks-color-zinc-900);
  --color-primary-950: var(--ks-color-zinc-950);
}